name: Docker CI/CD for WebTechnologiesLab1

on: 
  push: 
    branches: ["master"] 

env:
  AZURE_WEBAPP_NAME: weblab1library 
  
  DOCKER_IMAGE_NAME: chastuhina13/librarymvc
  
  DOTNET_CORE_VERSION: 9.0.200
  
  WORKING_DIRECTORY: ./LibraryMVC 

jobs: 
  
  build:        
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_CORE_VERSION }}
    - name: Restore dependencies
      run: dotnet restore ${{ env.WORKING_DIRECTORY }}
    - name: Build
      run: dotnet build --no-restore ${{ env.WORKING_DIRECTORY }}
      
 
  docker-build-and-deploy: 
    runs-on: ubuntu-latest
    needs: build 
    steps:
    - uses: actions/checkout@v4
    
   
    - name: Log in to Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
      
   
    - name: Build and push Docker image
      run: |
        IMAGE_TAG=${{ github.sha }}
       
        docker build . -f ${{ env.WORKING_DIRECTORY }}/Dockerfile    -t ${{ env.DOCKER_IMAGE_NAME }}:$IMAGE_TAG
        
        docker push ${{ env.DOCKER_IMAGE_NAME }}:$IMAGE_TAG
        
   
    - name: Azure Login
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
        
    
    - name: Deploy to Azure WebApp
      uses: azure/webapps-deploy@v3 
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        
        resource-group: ${{ secrets.AZURE_RESOURCE_GROUP }} 
        images: ${{ env.DOCKER_IMAGE_NAME }}:${{ github.sha }}
